.submitButton{
    outline: none;
    border-radius: 10%;
    font-weight: bold;
}

.submitButton:focus , .submitButton:hover{
    background: limegreen;
}

.disapled {
    background-color: rgb(134, 134, 134) !important;
    color: rgb(168, 168, 168);
}

.disapled:focus , .disapled:hover{
    background: rgb(206, 14, 14) !important; 
}

/*TABLET QUERIES*/
/*TABLET*/
@media (max-width : 1024px ) and (min-width : 768px) {
    .submitButton{
        width: 20vw;
        height: 5vh;
        font-size: 3vw;
    }
 }