.popUp{
    width: auto;
    height: 50vh;
    border:  black dashed;
    border-radius: 3%;
}
.show{
    display: block;
}
.hide{
    display: none;
}

@media (max-width : 380px){
    .popUp{
      height: 57vh;
    }
}