/*-------------------*/
/*STYLE TABLE:
  1- CONTACT LIST OUTSIDE STRUCTURE
  2- CONTACT LIST INSIDE ELEMENTS
    2-1 DYNAMIC ELEMENTS
    2-2 CONTACTS
  3- CONTACT POPUPS
    3-1 POPUPS DYNAMICS
  4- MEDIA QUERIES
    4-1 COMBINED
    4-2 TABLET
    4-3 SMART PHONES
----------------------*/
/*1- CONTACT LIST OUTSIDE STRUCTURE*/
.contactList{
    overflow-y: auto;
}
/*--------------------------------------------------------------*/
/*2- CONTACT LIST INSIDE ELEMENTS*/
/*2-1 DYNAMIC ELEMENTS*/
.title{
    font-family: monospace;
    font-size: 1.5vw;
    position: sticky;
    top: 1vh;
    font-weight: bolder;
}
.addButton{
    height: 3vh;
    width: 2vw;
    text-align: center;
    outline: none;
}
/*-----------------------*/
/*2-2 CONTACTS*/
.contact{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.contactButtons{
    margin-left: 2.5%;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    height: 3.5vh;
    width: auto;
    font : bolder;
}
#editIcon{
    margin-left: 1.5vw;
    margin-top: 0;
}
/*--------------------------------------------------------------*/
/*3- CONTACT POPUPS */
.contactPopUps{
    position: fixed;
    width: 40vw;
    left : 33vw;
    top: 28vh;
    border-radius: 3%;
}
/*-----------------------*/
/*3-1 POPUPS DYNAMICS*/
.cancelButton{
    outline: none;
    font-size: 10%;
}
/*--------------------------------------------------------------*/
/*4- MEDIA QUERIES*/
/*4-1 COMBINED*/
@media (max-width : 1024px){
    .contactPopUps{
        width: 90vw;
        left : 5vw;
        top : 20vh;
    }
}
/*-----------------------*/
/*4-2 TABLET*/
@media (max-width : 1024px ) and (min-width : 768px) {
    .title{
        font-size: 4vw;
    }
    .addButton{
        width: 4vw;
        height: 4vh;
    }
    .contact{
        margin-top: 1.5%;
        font-size: 4vw;
    }
    .contactButtons{
        font-size: 50px;
    }
    .cancelButton{
        width: 5vw;
        height: 3vh;
        margin-top: 2%;
    }
 }  
/*-----------------------*/
/*4-3 SMART PHONES*/
@media (max-width : 500px) and (min-width : 320px){
    .title{
        font-size: 6vw;
    }
    .addButton{
        width: 7vw;
    }
    .contactButtons{
        font-size: 30px;
    }
    #editIcon{
        margin-left: 3vw;
    }
}