/*-------------------*/
/*content table:
  1-
  contact list body and it's inside components
   1-1
   contact 
*/
/*1-*/
.contactList{
    height: 65vh;
    width: 20vw;
    text-align: center;
    overflow-y: auto;
    border-left: ridge 0.5vw ;
    border-radius: 3%;
    -webkit-box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
    -moz-box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
    box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
}

.title{
    font-family: monospace;
    font-size: 2em;
    position: sticky;
    top: 1vh;
}

.cancelButton{
    outline: none;
    font-size: 10%;
}

.addButton{
    height: 3vh;
    width: 2vw;
    text-align: center;
}
/*this could be improved by  enabling the other
buttons to be pressed*/
.contactForm{
    position: fixed;
    width: 40vw;
    left : 33vw;
    top: 33vh;
    border-radius: 3%;
}

/*1-1*/
.contact{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.contactButton{
    margin-left: 2%;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    height: 1vh;
    width: auto;
    font : bolder;
}
img{
    height: 1vh;
    width: auto;
}
