.contactList{
    border: dashed black;
    height: 65vh;
    width: 20vw;
    grid-area: contactList;
    margin-top: 20%;
    text-align: center;
    overflow-y: auto;
}

/*fix the position of the title*/
.title{
    font-family: monospace;
    font-size: 2em;
    /* position: fixed; */
}

.addButton{
    height: 1.3em;
    width: 1.3em;
    text-align: center;
}

.show{
    display: block;
}
.hide{
    display: none;
}