.person-icon{
  background: black;
  position: relative;
  height:   4%;
  width: 2%;
  border-radius:   50%/100px 100px 0 0;
}
.person-icon::before{
  content: "";
  background: black;
  height: 1.5%;
  width: 1.5%;
  display: block;
  position: fixed;
  top: -4%;
  left: 0.3%;
  border-radius: 50%;
}
