.person-icon{
    background: black;
    position: relative;
    height: 2em;
    width: 2em;
    border-radius:   50%/100px 100px 0 0;
  }
  .person-icon::before{
    content: "";
    background: black;
    height: 1.5em;
    width: 1.5em;
    display: block;
    position: absolute;
    top: -4vh;
    left: 0.3vw;
    border-radius: 50%;
  }