*, *::before, *::after {box-sizing: border-box}

.header{
  grid-area: header;
  padding: 2vh;
}

.signLogHeader{
  display: grid;
  grid-template-columns: 20%  50%  30%;
  grid-template-areas:
               "logo . registartion";
}

.signLogButtons{
  grid-area: registartion;
  display: grid;
  grid-template-columns: 45%  45%;
  grid-gap: 1%;
}

.signOutHeader{
  display: grid;
  grid-template-columns: 20%  60%  20%;
  grid-template-areas:
               "logo  . signOut";
}

.signOutButton{
  grid-area: signOut;
}

.navButton{
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 5%;
  height: 7vh;
  width: 10vw;
  background: #a83104;
  -webkit-box-shadow: 0px 26px 0px 0px rgba(112,32,4,1);
  -moz-box-shadow: 0px 26px 0px 0px rgba(112,32,4,1);
  box-shadow: 0px 11px 0px 0px rgb(121, 33, 1);
  cursor: pointer;
  padding: 0;
  margin-top: 1%;
}
