.paletteIcon{
    grid-area: palette;
    margin-left: 2%;
}
img{
    width: 3vw;
    height: auto;
    cursor: pointer;
}
.styleList{
    height: 100%;
    width: 15vw;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-auto-rows: 20%;
    grid-gap: 2%;
    overflow-y: auto;
}

.block{
    background: whitesmoke;
    text-align: center;
    padding-top: 5%;
    overflow-wrap: break-word;
}
.block:hover{
    cursor: pointer;
}

.palettePopUp{
    position: fixed;
    top: 35vh;
    left : 4.5vw;
}

