.footer{
    grid-area: footer;
    margin-top : 10vh;
    margin-left: 2vw;
    font-family: monospace;
    font-size: inherit;
}
@media (max-width : 1000px) {
    .footer{
        font-weight: bold;
    }
}