*, *::before, *::after {box-sizing: border-box}
/*there are proplems with the outlines it outlines divs sometimes must be fixed*/
/*need a proper media fo most elements*/
/*-----------------
   STYLE TABLE :
   1- GLOBAL SELECTORS
   2- MEDIA QUERIES 
      2-1 TABLET
      2-2 SMART PHONES 
   /*-------------------
     1- GLOBAL SELECTORS
     -------------------*/
.App {
   overflow: hidden;
   height: 100vh;
   width: 100vw;  
   display : grid;
   grid-template-columns: 40% 20% 40%;
   grid-template-rows: 15% 60% 25%;
   grid-gap: 3%;
   grid-template-areas: "header header header"
                          ". main ."
                          "palette footer footer"; 
   font-family: "Comic Sans MS", cursive, sans-serif;
}

main{
   grid-area: main;
   height: 65vh;
    width: 20vw;
    text-align: center;
    border-left: ridge 0.5vw ;
    border-radius: 3%;
    -webkit-box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
    -moz-box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
    box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
}

/*---------------------------------------------------------------------*/
/*2- MEDIA QUERIES*/
/*2-1 TABLET*/
@media (max-width : 1024px ) and (min-width : 768px) {
   .App{
      grid-template-columns: 32% 28% 40%;
      grid-template-areas: "header header header"
                          "main main main"
                          "palette footer footer"; 
   }
   main{
      width : 70VW ;
      margin-left: 15%;
   }
}  
/*------------------------------------------------*/
/*2-1 SMART PHONES*/
@media (max-width : 500px) and (min-width : 320px) {
   .App{
      grid-template-columns: 32% 28% 40%;
      grid-template-areas: "header header header"
                          "main main main"
                          "palette footer footer"; 
   }
   main{
      width: 80vw;
      margin-left: 10%;
   }

}


 