/*----------------------------------------------------------------------
  2- PALETTE STYLE CLASSES
     1-default
     2-flowery
     3-seaSide
     4-oranges
     5-vintage
 -------------------------*/

/*1-deafult*/
.default, .default .palettePopUp  ,.default .submitButton{
    background: #faf5ef;
 }
 .default .header , .default .contactPopUps{
    background:  #d7d1c9;
 }
 .default .navButton{
    background: #672f2f;
   -webkit-box-shadow: 0px 26px 0px 0px #4b2222;
   -moz-box-shadow: 0px 26px 0px 0px #4b2222;
   box-shadow: 0px 11px 0px 0px #4b2222;
 }
 .default main{
    background: #99b19c;
    border-left-color: #849b87;
 }
 .default .title{
    background : #849b87;
 }
 .default #cover{
    background: #672f2f;
    -webkit-box-shadow: 2px 2px 0px 2px #4b2222;
     -moz-box-shadow: 2px 2px 0px 2px #4b2222;
     box-shadow: 2px 2px 0px 2px #4b2222;
 }
 /*sign up and log in forms will be added later*/
 
 /*------------------------------*/
 /*2-flowey*/
 .flowery , .flowery .submitButton , .flowery .palettePopUp{
    background: rgb(252, 220, 209);
 }
 .flowery .header , .flowery .contactPopUps{
    background: rgb(235, 202, 203);
 }
 .flowery .navButton{
    background: rgb(235, 187, 185);
   -webkit-box-shadow: 0px 26px 0px 0px rgb(194, 154, 152,1);
   -moz-box-shadow: 0px 26px 0px 0px rgba(194, 154, 152,1);
   box-shadow: 0px 11px 0px 0px rgb(194, 154, 152,1);
   color: black;
 }
 .flowery main{
    background: rgb(244, 233, 229);
    border-left-color: rgb(241, 209, 198);
 }
 .flowery .title{
    background: rgb(248, 248, 246);
 }
 .flowery #cover{
    background: rgb(243, 197, 182);
    -webkit-box-shadow: 2px 2px 0px 2px rgb(214, 184, 174,1);
     -moz-box-shadow: 2px 2px 0px 2px rgba(214, 184, 174,1);
     box-shadow: 2px 2px 0px 2px rgba(214, 184, 174,1);
 }
 
 /*------------------------------*/
 /*3-seaSide*/
 .seaSide , .seaSide .submitButton , .seaSide .palettePopUp{
    background: rgb(90, 188, 185);
 }
 .seaSide .header , .seaSide .contactPopUps{
    background: rgb(238, 203, 113);
 }
 .seaSide .navButton{
    background: rgb(2, 28, 68);
   -webkit-box-shadow: 0px 26px 0px 0px rgb(0, 9, 20,1);
   -moz-box-shadow: 0px 26px 0px 0px rgba(0, 9, 20,1);
   box-shadow: 0px 11px 0px 0px rgb(0, 9, 20,1);
 }
 .seaSide main{
    background: rgb(130, 212, 187);
    border-left-color: rgb(103, 212, 180);
 }
 .seaSide .title{
    background: rgb(166, 244, 220);
 }
 .seaSide #cover{
    background: rgb(90, 188, 185);
    -webkit-box-shadow: 2px 2px 0px 2px rgba(33, 128, 124,1);
     -moz-box-shadow: 2px 2px 0px 2px rgba(33, 128, 124,1);
     box-shadow: 2px 2px 0px 2px rgba(33, 128, 124,1);
 }

 /*------------------------------*/
 /*4-oranges*/
 .oranges , .oranges .submitButton , .oranges .palettePopUp{
   background: #ffeadb;
}
.oranges .header , .oranges .contactPopUps{
   background: #f7c5a8;
}
.oranges .navButton{
   background: #679b9b;
  -webkit-box-shadow: 0px 26px 0px 0px rgba(84, 131, 131,1);
  -moz-box-shadow: 0px 26px 0px 0px rgba(84, 131, 131,1);
  box-shadow: 0px 11px 0px 0px rgba(84, 131, 131,1);
}
.oranges main{
   background: #ff9a76;
   border-left-color: #f78860;
}
.oranges .title{
   background: #f78860;
}
.oranges #cover{
   background: #679b9b;
   -webkit-box-shadow: 2px 2px 0px 2px rgba(91, 156, 156,1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(91, 156, 156,1);
    box-shadow: 2px 2px 0px 2px rgba(91, 156, 156,1);
}

 /*------------------------------*/
 /*5-vintage*/
 .vintage , .vintage .submitButton , .vintage .palettePopUp{
   background: #7d5e2a;
}
.vintage .header , .vintage .contactPopUps{
   background: #9dc6a7;
}
.vintage .navButton{
   background: #231903;
  -webkit-box-shadow: 0px 26px 0px 0px rgba(27, 19, 1,1);
  -moz-box-shadow: 0px 26px 0px 0px rgba(27, 19, 1,1);
  box-shadow: 0px 11px 0px 0px rgba(27, 19, 1,1);
}
.vintage main{
   background: #d1f5d3;
   border-left-color: #bff7c1;
}
.vintage .title{
   background: #bff7c1;
}
.vintage #cover{
   background: #d1f5d3;
   -webkit-box-shadow: 2px 2px 0px 2px rgba(166, 250, 169,1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(166, 250, 169,1);
    box-shadow: 2px 2px 0px 2px rgba(166, 250, 169,1);
}