/*-------------------------
    STYLE TABLE :
    1- PALETTE INTERFACE
    2- PALETTE INNER
        2-1 PALETTE LIST
            2-1-1 PALETTE LIST OUTSIDE STRUCTURE
            2-1-2 PALETTE LIST INSIDE ELEMENTS
        2-2 cancel button
    3- MEDIA QUERIES
---------------------------*/
/*1- PALETTE INTERFACE*/
.paletteIcon{
    grid-area: palette;
    margin-left: 2%;
}
img{
    width: 3vw;
    height: auto;
    cursor: pointer;
}
/*----------------------------------------------*/
/* 2- PALETTE INNER */
/*2-1 PALETTE LIST*/
/*2-1-1 PALETTE LIST OUTSIDE STRUCTURE*/
.palettePopUp{
    position: fixed;
    top: 35vh;
    left : 4.5vw;
}
.styleList{
    height: 40vh;
    width: 15vw;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-auto-rows: 20%;
    grid-gap: 2%;
    overflow-y: auto;
}
/*----------------------------*/
/*2-1-2 PALETTE LIST INSIDE ELEMENTS*/
.block{
    background: whitesmoke;
    text-align: center;
    padding-top: 5%;
    overflow-wrap: break-word;
}
.block:hover{
    cursor: pointer;
}
/*-------------------------------------*/
/* 2-2 cancel button */
.cancelButt{
    margin: 2%;
    margin-left: 45%;
}
/*----------------------------------------------*/
/*3- MEDIA QUERIES*/
@media (max-width : 1100px) {
    img{
        width : 4vw;
    }
}
@media (max-width : 800px) {
    img{
        width : 5vw;
    }
}
@media (max-width : 600px) {
    img{
        width : 6vw;
    }
}

