*, *::before, *::after {box-sizing: border-box}
/*-----------------
   style guide :
   1- global selectors
   2- palette style classes*/


   /*-------------------
     1- global selectors
     -------------------*/
.App {
   overflow: hidden;
   height: 100vh;
   width: 100vw;  
   display : grid;
   grid-template-columns: 40% 20% 40%;
   grid-template-rows: 15% 60% 25%;
   grid-gap: 3%;
   grid-template-areas: "header header header"
                          ". main ."
                          "palette footer .";                    
}

main{
   grid-area: main;
}
/*------------------------
  2- palette style classes
 -------------------------*/

.default{
   background: salmon;
}
.default .header{
   background: red;
}
.default .navButton{
   
}
.default .contactList{
   background: #DBAB7A;
   border-left-color: rgb(209, 160, 111);
}

.red{
   background: red;
}
.red .header{
   background: salmon;
}
.red .navButton{
   
}

